<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    
    <!-- Login form -->
    <form action="" method="post" id="Login">
        <!-- Left section of the form -->
        <div class="left">
          <div>
            <!-- Welcome message and registration link -->
            <p>Hello, Welcome!</p>
            <a href="">have an account? </a>
            <a href="/login" class="redirectButton">Login</a>
            <!-- <input type="submit" name="" id="" value="Login" /> -->
          </div>
        </div>
  
        <!-- Right section of the form -->
        <div class="right">
          <div>
            <!-- Login heading -->
            <h1>Register Your Self</h1>
  
            <!-- Username input field -->
            <input type="text" name="Username" id="" placeholder="Username" />
            <!-- <span class="material-symbols-outlined person"> person </span> -->


            <input type="email" name="Username" id="" placeholder="Email" />
            <!-- <span class="material-symbols-outlined person"> Email </span> -->
  
            <!-- Password input field -->
            <input type="password" name="Password" id="" placeholder="Password" />
            <!-- <span class="material-symbols-outlined lock"> lock </span> -->
  
            <!-- Forgot password link -->
  
            <!-- Login button -->
            <button type="submit">Register</button>
  
            <!-- Social login options -->
            <!-- <p>or login with social platforms</p> -->
            
          </div>
        </div>
      </form>
  

          
</body>
</html>
    