<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    
    <!-- Login form -->
    <div class="alert"><span>⚠️</span><span class="alertContent"></span> <span class="alertCross" onclick="hideAlert()">X</span></div>
    <form action="/register" method="post" id="Login">
        <!-- Left section of the form -->
        <div class="left">
          <div>
            <!-- Welcome message and registration link -->
            <p>Hello, Welcome!</p>
            <a href="">have an account? </a>
            <a href="/login" class="redirectButton">Login</a>
            <!-- <input type="submit" name="" id="" value="Login" /> -->
          </div>
        </div>
  
        <!-- Right section of the form -->
        <div class="right">
          <div>
            <!-- Login heading -->
            <h1>Register Your Self</h1>
            <!-- <div class="buttons"></div> -->
            <!-- Username input field -->
             <form action="/login" method="post">

            
            <input type="text" name="Username"  placeholder="Username" class="FieldInputs"/>
            <label class="errorLabel"></label>
            <!-- <span class="material-symbols-outlined person"> person </span> -->


            <input type="email" name="email"  placeholder="Email" class="FieldInputs"/>
            <label class="errorLabel"></label>
            <!-- <span class="material-symbols-outlined person"> Email </span> -->
  
            <!-- Password input field -->
            <input type="password" name="Password"  placeholder="Password" class="FieldInputs"/>
            <label class="errorLabel"></label>
            <!-- <span class="material-symbols-outlined lock"> lock </span> -->
  
            <!-- Forgot password link -->
  
            <!-- Login button -->
            <button type="button" onclick="CheckEmpty()">Register</button>
  
          </form>
            <!-- Social login options -->
            <!-- <p>or login with social platforms</p> -->
            
          </div>
        </div>
      </form>
  

  <script src="{{url_for('static', filename='js/loginformValidate.js')}}"></script>      
</body>

</html>
    